@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.site {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
}

.site.visible .icon {
    transform: scale(1, 1);
}

.site .icon {
    position: absolute;
    top: -10px;
    left: -15px;
    width: 30px;
    height: 30px;

    transform: scale(0.01, 0.01);
    transition: transform 0.3s;
}

.site.visible .text {
    transform: scale(1, 1);
}

.site .text {
    position: absolute;
    left: 20px;
    font-size: 14px;
    width: 200px;
    pointer-events: none;
    font-family: 'Raleway', sans-serif;

    transform: scale(0.01, 0.01);
    transition: transform 0.3s;
}

.apolloText {
    color: #c07910;
}

.altText {
    top: 26px;
    right: 10px;
    color: #c07910;
}

.moonText {
    font-size: 10px;
    color: #826aed;
}

.mtText {
    font-size: 10px;
    color: #00b4d8;
}

.clickable {
    cursor: pointer;
}